:root {
  --primary-color: #060696;
  --dark-gray: #494949;
  --light-gray: #ececec;
  --light-text: rgb(235, 235, 235);
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

p {
  margin: 16px 0;
  color: #444;
  font-size: 24px;
  line-height: 32px;
}

ul,
li {
  font-size: 16px;
  color: #555;
}

a {
  color: var(--primary-color);
}

.span-full {
  grid-column: 1/-1;
}
